.App {
    padding: 10px;
}

.input-file-button {
    padding: 6px 25px;
    background-color: #073df1;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    left: 35%;
    top: 60px;
    position: relative;
}